#opponents-list {
	grid-area: opponents-list;
}

/* .player {
} */

.nickname {
	width: 25%;
}

.cell-center {
	text-align: center;
}

#go-back-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: auto;
	width: 100%;
}

#error-message {
	font-size: 24px;
	color: rgb(202, 18, 18);
}