#home-container {
	display: grid;
	grid-template-areas:
		"header header"
		"online-players-list lobbies-list";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 0.4fr 0.6fr;
	grid-gap: 10px;
	height: 100vh;
	min-width: 560px;
}

#page-header {
	grid-area: header;
}
