#online-players-list-container {
	grid-area: online-players-list;
	overflow-y: auto;
}

.self-row {
	background-color: ghostwhite;
}

.row-no {
	width: "20%";
}

.nickname {
	width: "40%";
}

.stats {
	width: "40%";
}
